# Python bytecode caches
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Local Environment dependencies
.env
.venv/
venv/
env/
ENV/

# Project Data and Artifact arrays (Ignore all .npy files)
*.npy
data/raw/
data/processed/

# Model binaries
models/tcn_autoencoder.pth

# OS specific system hidden trackers
.DS_Store
Thumbs.db